@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Barlow+Condensed:wght@600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: -0.02em;
  }

  a, button {
    @apply transition-all duration-300;
  }

  a:hover {
    color: #143a21;
    border-bottom-color: #711f29;
  }
}
